<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true" autoReload="true">

    <variable name="EnableLogMethodParameters" value="true"></variable>

    <extensions>
        <add assembly="NLog.MailKit"/>
    </extensions>

    <targets>
        <target name="defaultEnvFile" xsi:type="File" fileName="${basedir}/Logs/prod/${date:format=yyyy}/${date:format=yyyyMMdd}.log" layout="${date:format=HH\:mm\:ss,fff} [${level:uppercase=true:padding=-5}] [${pad:fixedLength=true:inner=${replace:searchFor=.ctor:replaceWith=Constructor:regex=false:inner=${callsite}}:padding=-100}] ${message}${newline} ${onexception:${newline}${exception:maxInnerExceptionLevel=10:innerExceptionSeparator=&#xA;&#xA;&#xA;:format=toString}}${newline}" />

        <target name="moteurFile" xsi:type="File" fileName="${basedir}\Logs\prod\moteur\${date:format=yyyy}\${date:format=yyyyMMdd}.log" layout="${date:format=HH\:mm\:ss} : ${message}" />

        <!-- Configuration des cibles pour la journalisation des mises à jours via le portail. -->
        <!--
        <target name="ApiPortailFile" xsi:type="File" fileName="${basedir}\Logs\dev\${date:format=yyyy}\${date:format=MM}\Portail\${date:format=yyyyMMdd}.log" layout="${longdate} : ${message}" />

        <target name="ApiPortailMailBuffer" xsi:type="BufferingWrapper" bufferSize="3" slidingTimeout="false" flushTimeout="-1">
        <target xsi:type="Mail" name="mail" smtpServer="127.0.0.1" smtpPort="1025" from="" to="" subject="Modification portail" layout="${longdate} : ${message}" />
        </target>
        -->
    </targets>

    <rules>
        <logger name="*" writeTo="defaultEnvFile" minLevel="Info" />
        <logger name="Moteur" writeTo="moteurFile" />

        <!-- Logger d'informations lors de la mise à jour de profil depuis le portail. -->
        <!--<logger name="Api.Portail" writeTo="ApiPortailFile" minLevel="Info" maxLevel="Info" />-->
        <!--<logger name="Api.Portail" writeTo="ApiPortailMailBuffer" level="Info" />-->
    </rules>
</nlog>